{% extends 'base.html.twig' %}
{% block body %}
    <div class='container my-5'>
        <div class='shadow p-3 rounded mx-auto w-100'>
            <h2 class='fw-bold mx-auto text-center'>Voir les projets</h2><br>
            {% for message in app.flashes('success') %}
                <div class='alert alert-success'>{{ message }}</div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class='alert alert-danger'>{{ message }}</div>
            {% endfor %}
            <table class='table table-striped mb-5'>
                <thead>
                <tr>
                    <th scope='col'>#</th>
                    <th scope='col' style='width: 25%'>Title</th>
                    <th scope='col'>Enseignant</th>
                    <th scope='col'>Thématique</th>
                    <th scope='col'>Domaines professionnels</th>
                    <th scope='col'>Attribué</th>
                    <th scope='col'>Année</th>
                    <th scope='col'>Actions</th>
                </tr>
                </thead>
                <tbody>
                {%  for project in projects %}
                    <tr>
                        <th scope='row'>{{ project.id }}</th>
                        <td>{{ project.title }}</td>
                        <td>{{ project.idteacher }}</td>
                        <td>{{ project.idthematic }}</td>
                        <td>
                            {% for professionalDomain in project.getIdProfessionalDomain() %}
                                {{ professionalDomain }}
                                {% if professionalDomain != project.getIdProfessionalDomain()|last %},{% endif %}
                            {% endfor %}
                        </td>
                        <td>{% if project.istaken == 1 %}Oui{% else %}Non{% endif %}</td>
                        <td>{{ project.year }}</td>
                        <td>
                            {% if app.user == project.idteacher or app.user.IsAdmin%}
                            <a href='{{ path('app.teacher.projectUpdate',{id: project.id}) }}' class='btn btn-primary'>Editer</a>
                            <form method='post' action='{{ path('app.teacher.projectDelete',{id: project.id}) }}' onsubmit='return confirm("Supprimer le projet ?")' style='display: inline-block'>
                                <input type='hidden' name='_method' value='DELETE'>
                                <input type='hidden' name='_token' value='{{ csrf_token('delete' ~ project.id) }}'>
                                <button class='btn btn-secondary'>Supprimer</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href='{{ path('app.teacher.projectCreate') }}' class='btn btn-primary'>Ajouter un projet</a>
        </div>
    </div>
    <script>
        let tds = document.getElementsByTagName("tbody")[0].querySelectorAll("td:not(:last-child), th");
        tds.forEach(td => {
            td.addEventListener('click', event => {
                let id = td.parentNode.children[0].textContent;
                let url = "{{ path('app.teacher.projectRead',{id: 'project_id'}) }}";
                url = url.replace('project_id',id);
                location.href = url;
            });
        });
    </script>
    <style>
        tbody td:not(:last-child), tbody th {
            cursor: pointer;
        }
    </style>
{% endblock %}