{% extends 'base.html.twig' %}
{% block title %}Choisir ses projets{% endblock %}
{% block body %}
<div class='container my-5'>
    <div class='shadow p-3 rounded mx-auto w-75'>
        <h2 class='fw-bold mx-auto text-center'>Choisir ses projets</h2><br>
        {% for message in app.flashes('success') %}
            <div class='alert alert-success'>{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class='alert alert-danger'>{{ message }}</div>
        {% endfor %}
        {% if app.user.getIdProject() == null and app.user.getIdPair() != null %}
        {{ form_start(projectWishesForm) }}
            {{ form_row(projectWishesForm.id_main_student)}}
            {{ form_row(projectWishesForm.id_project_1) }}
            {{ form_row(projectWishesForm.id_project_2) }}
            {{ form_row(projectWishesForm.id_project_3) }}
        <div class='mt-3 d-grid gap-2 d-md-flex justify-content-md-end'>
            <button type='submit' class='btn btn-primary'>Valider</button>
        </div>
        {{ form_end(projectWishesForm) }}
        {% else %}
            <p>Un projet vous a déjà été attribué ou vous devez être dans un binôme afin de choisir vos projets.</p>
        {% endif %}
    </div>
</div>
{% endblock %}