{% extends 'base.html.twig' %}
{% block title %}Espace administrateur{% endblock %}
{% block body %}
    <div class='container my-5'>
        <div class='shadow p-3 rounded mx-auto w-75'>
            <h2 class='fw-bold mx-auto text-center'>Espace administrateur</h2>
            <h5 class='fw-bold mx-auto my-3 text-start'>Étudiants</h5>
            <nav class='d-grid gap-3'>
                <a href='{{ path('app.admin.studentsRead') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-eye-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Voir les étudiants</strong>
                        <small>Voir la liste des étudiants (édition et suppression).</small>
                    </div>
                </a>
                <a href='{{ path('app.admin.studentCreate') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-person-plus-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Ajouter un étudiant</strong>
                        <small>Créer un compte étudiant.</small>
                    </div>
                </a>
            </nav>
            <h5 class='fw-bold mx-auto my-3 text-start'>Enseignants</h5>
            <nav class='d-grid gap-3'>
                <a href='{{ path('app.admin.teachersRead') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-eye-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Voir les enseignants</strong>
                        <small>Voir la liste des enseignants et administrateurs (édition et suppression).</small>
                    </div>
                </a>
                <a href='{{ path('app.admin.teacherCreate') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-person-plus-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Ajouter un enseignant</strong>
                        <small>Créer un compte enseignant ou administrateur.</small>
                    </div>
                </a>
            </nav>
            <h5 class='fw-bold mx-auto my-3 text-start'>Projets</h5>
            <nav class='d-grid gap-3'>
                <a href='{{ path('app.teacher.projectsRead') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-eye-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Consulter les projets</strong>
                        <small>Consulter la liste des projets publiés (édition et suppression).</small>
                    </div>
                </a>
                <a href='{{ path('app.teacher.projectCreate') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-file-plus-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Créer un projet</strong>
                        <small>Ajouter un nouveau projet.</small>
                    </div>
                </a>
                <a href='{{ path('app.admin.projectsLaunch') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-gear-wide-connected' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Exécuter l'algorithme</strong>
                        <small>Exécuter l'algorithme de Ford-Fulkerson pour attribuer automatiquement les projets.</small>
                    </div>
                </a>
            </nav>
            <h5 class='fw-bold mx-auto my-3 text-start'>Choix & affectations</h5>
            <nav class='d-grid gap-3'>
                <a href='{{ path('app.teacher.projectsReadWishes') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-bookmark-heart-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Consulter les choix des binômes</strong>
                        <small>Consulter la liste des projets choisis par les binômes.</small>
                    </div>
                </a>
                <a href='{{ path('app.teacher.projectsReadAttributed') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-bookmark-check-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Consulter les affectations des projets</strong>
                        <small>Consulter la liste des projets attribués aux binômes.</small>
                    </div>
                </a>
                <a href='{{ path('app.teacher.pairsReadWithoutProject') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-bookmark-x-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Consulter les binômes sans affectation</strong>
                        <small>Consulter la liste des binômes sans projet attribué.</small>
                    </div>
                </a>
                <a href='{{ path('app.admin.projectsGive') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-share-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Attribuer un projet</strong>
                        <small>Attribuer un projet à un binôme manuellement.</small>
                    </div>
                </a>
            </nav>
            <h5 class='fw-bold mx-auto my-3 text-start'>Binômes</h5>
            <nav class='d-grid gap-3'>
                <a href='{{ path('app.teacher.pairsRead') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-eye-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Voir les binômes</strong>
                        <small>Voir la liste des binômes et étudiants (édition et suppression).</small>
                    </div>
                </a>
                <a href='{{ path('app.admin.pairCreate') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-person-plus-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Ajouter un binôme</strong>
                        <small>Créer un binôme entre deux étudiants.</small>
                    </div>
                </a>
            </nav>
            <h5 class='fw-bold mx-auto my-3 text-start'>Données</h5>
            <nav class='d-grid gap-3'>
                <a href='{{ path('app.admin.professionalDomains') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-star-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Domaines professionnels</strong>
                        <small>Gérer les domaines professionnels (création, édition, suppression).</small>
                    </div>
                </a>
                <a href='{{ path('app.admin.thematics') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-list-stars' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Thématiques</strong>
                        <small>Gérer les thématiques (création, édition, suppression).</small>
                    </div>
                </a>
            </nav>
            <h5 class='fw-bold mx-auto my-3 text-start'>CSV</h5>
            <nav class='d-grid gap-3'>
                <a href='{{ path('app.admin.csvPopulation') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-file-earmark-arrow-up-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Populer avec des CSV</strong>
                        <small>Remplir la base de données avec des fichiers CSV.</small>
                    </div>
                </a>
                <a href='{{ path('app.admin.getCSV') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-file-earmark-arrow-down-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Récupérer les CSV</strong>
                        <small>Sauvegarder la base de données dans des fichiers CSV.</small>
                    </div>
                </a>
                <a href='{{ path('app.admin.deleteData') }}' class='btn btn-hover-light d-flex gap-3 py-2 px-3 lh-sm bg-light border'>
                    <i class='bi bi-trash3-fill' style='font-size: 2em;'></i>
                    <div class='text-start'>
                        <strong class='d-block'>Supprimer les données</strong>
                        <small>Supprimer toutes les données de la base de données et réinitialiser le projet.</small>
                    </div>
                </a>
            </nav>
        </div>
    </div>
{% endblock %}