{% extends 'base.html.twig' %}
{% block title %}Editer un projet{% endblock %}
{% block body %}
    <div class='container my-5'>
        <div class='shadow p-3 rounded mx-auto w-75'>
            <h2 class='fw-bold mx-auto text-center'>Editer un enseignant</h2><br>
            {{ form_start(staffForm, {'attr': {'novalidate' : 'novalidate'}}) }}
            <div class='row'>
                <div class='col-md-6'>{{ form_row(staffForm.first_name) }}</div>
                <div class='col-md-6'>{{ form_row(staffForm.last_name) }}</div>
            </div>
            {{ form_row(staffForm.username, {'attr':{'readonly':'true', 'required':'false'}}) }}
            {{ form_row(staffForm.password, {'attr':{'readonly':'true', 'required':'false'}}) }}
            {{ form_row(staffForm.is_admin) }}
            <div class='mt-3 d-grid gap-2 d-md-flex justify-content-md-end'>
                <button type='submit' class='btn btn-primary'>Éditer</button>
            </div>
            {{ form_end(staffForm) }}
            <a href='{{ path('app.admin.teachersRead') }}' class='btn btn-primary'>Retour</a>
        </div>
    </div>
{% endblock %}